@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700&display=swap');

body { font-family:'Barlow'; font-size:22px; background:#eee; font-weight:300; color:#555; }

.header { background:#5d099d; color:#fff; padding:40px 0; margin-bottom:40px; }
.header h1 { margin:0; }
.header p { color:#d6bfe8; }

.pane { min-height:300px; text-align:center; background:#fff; padding:30px; box-shadow:0 0 40px rgba(0,0,0,0.1);  }
.pane h2 { margin-top:0; margin-bottom:50px; font-size:28px; color:#888; font-weight:400; }
.pane .label { background:#eee;  padding:1px 20px; border-radius:30px; display:inline-block; font-size:18px; text-transform:lowercase; }
.pane .number { font-size:20px; font-weight:500; margin-top:10px; transition:all 0.25s ease-in-out 0s;  }
.pane .number.bigger { color:#5d099d; font-size:40px; font-weight:700; transition:all 0.25s ease-in-out 0s; }

.button-info { margin-top:40px; }
button { margin-bottom:40px; background:none; font-weight:500; border:4px solid #e48324; padding:8px 30px; color:#e48324; transition:all 0.25s ease-in-out 0s; }
button:hover, button:focus { background:#e48324; color:#fff; }
button:focus { padding:8px 36px; }


/* responsive */
@media only screen and (max-width:992px) {
.loss { display:none; }
.pane { padding:15px; min-height:250px; }
.pane h2, .pane .label { font-size:16px; }
.pane h2 { margin-bottom:20px; }
.pane .number.bigger { font-size:26px; }
}